@model IEnumerable<LendingLibrary.Web.Models.PersonRowViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Persons</h2>

<p>
    @Html.ActionLink("Register New Person", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @if (item.Photo.Length > 0)
        {
            <td><img style="width: 100px; height: 100px" src="data:image;base64,@System.Convert.ToBase64String(item.Photo)"/></td>
        }
        <td>@Html.ActionLink("Edit","Edit",new {id=item.PersonId})</td>
    </tr>
}

</table>
